.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: rgb(183, 50, 50);
  border: 0 solid;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: rgb(155, 42, 42);
  color: white;
}

img {
  height: 150px;
}

.grid-kartu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 20px;
}